span{
  color: white;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 270px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.img{
  margin-left: 50px;
}

.active-list-item {
  color: #c62828; /* Note: You could also use a custom theme */
}

.ex {
  margin-left: 20px;
}

.active-list-item{
  color: #00D69A;
}

.wel{
  background: #00D69A;
  height: 72%;
}

